.header {
  background-color: $primary-color;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6% 0 10%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 10;
  a {
    &:hover {
      background-color: transparent !important;
    }
  }
}

.main-image {
  height: 28rem;
  z-index: 0;
  overflow: hidden;
  width: 110%;
  object-fit: cover;
  transform: rotateZ(-5deg) translateY(-0.5rem) translateX(-3.2rem);
  -webkit-user-drag: none;
}

@media (max-width: 768px) {
  .header {
    position: sticky !important;
  }
  .main-image {
    transform: rotateZ(-5deg) translateY(-6rem) translateX(-1rem);
    -webkit-user-drag: none;
  }
}
