.menu {
  ul {
    display: flex !important;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    list-style: none;
  }
}

@media (max-width: 768px) {
  .menu {
    display: none !important;
  }
}
