.cocktail-card {
  background-color: $primary-color !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 8px;
  height: 380px;
  border: none !important;

  .title {
    color: white !important;
  }

  .image-container {
    width: 100%;
    min-width: 200px;
    height: 200px;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    @include loading-background;
    img {
      object-fit: contain;
      object-position: center;
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 8px;
    h3 {
      color: white;
      font-size: 18px;
    }
    p {
      color: $text-muted;
      font-size: 12px;
    }
  }
}
