.saved-cocktail {
  max-width: 100%;
  height: 27rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  background-color: $primary-900;
  justify-content: center;
  padding: 0.8rem 1.2rem;
  overflow: hidden;
  border-radius: 10px;
  @include fade-slide-in-from-right;

  img {
    overflow: hidden;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    @include loading-background;
  }
}

.cocktail-details-card {
  max-width: 100% !important;
  border: none !important;
  display: flex !important;
  flex-direction: column !important;
}

.cocktail-article {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cocktail-category-article {
  display: grid;
  grid-template-columns: 110px 110px 110px;
  justify-content: center;
  align-items: stretch;
  section {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    h4 {
      opacity: 0.8;
    }
    p {
      opacity: 0.8;
    }
  }
}

.ingredents {
  text-transform: capitalize;
}

.footer {
  margin-top: auto;
}

@media (max-width: 768px) {
  .saved-cocktail {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    min-height: 55rem;
    gap: 0;

    img {
      border-end-end-radius: 0;
      border-end-start-radius: 0;
    }
  }
  .cocktail-details-card {
    border-start-start-radius: 0 !important;
    border-start-end-radius: 0 !important;
  }
}
