.button {
  padding: 8px 16px;
  background-color: $button-background;
  color: $button-text;
  transition: color, background-color 0.2s ease-in-out;
  font-weight: 500;
  font-size: 22px;
  border-radius: 45%;
  &:hover {
    color: $button-hover-text;
    background-color: $button-hover-background;
  }
}
