.container {
  width: 90%;
  max-width: 60rem;
  margin: 0 auto 40px auto;
}

.saved-cocktails-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 14px;
  justify-content: center;
  align-items: center;
  justify-items: center;
}
