.container {
  @include ellipse_gradient($primary-200 30%, $primary-600 80%);
  place-content: center;
  @include fullscreen;
}

.card {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  .header {
    font-size: 32px;
  }
  .content {
    text-align: center;
    padding: 10px 0;
    font-size: 16px;
  }
  @include fade-slide-in-from-top;
}

.image-container {
  margin: 0 auto;
  margin-bottom: 24px;
  width: 200px;
  min-height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 100%;
  border: 2px solid black;
  img {
    object-fit: cover;
    object-position: center;
  }
}
