.saved-cocktails-link {
  position: relative;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: white !important;
  width: max-content;
  font: bold 18px Roboto, sans-serif !important;
  &:hover {
    background-color: transparent !important;
  }
}
