.logout-form {
  button {
    color: white !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font: bold 18px Roboto, sans-serif !important;
  }
}
